{% extends "layout.html" %}
{% block content %}
	{% for post in posts.items %}
    {% if post.approve_flag==True or current_user.username == "admin@admin.com" or post.user_id == current_user.id %}
		<article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/'+ post.author.user_image) }}"/>
  			<div class="media-body">
    			<div class="article-metadata">
      				<a class="mr-2" href="{{ url_for('users.user_post',username=post.author.username)}}">{{ post.author.username }}</a>
              
      				<small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
              {% if current_user.username == "admin@admin.com" or post.user_id == current_user.id %}
              <small class="text-muted">Post Status:{% if post.approve_flag==True %} Approved {% else %} Not Approved {% endif %}</small>
              {% endif %}

    			</div>
    			<h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
    		
  			</div>
		</article>
    {% endif %}
	{% endfor %}

  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
      <a href="{{ url_for('main.home',page=page_num) }}" class="btn btn-info mb-4">{{page_num}}</a>
      {% else %}
      <a href="{{ url_for('main.home',page=page_num) }}" class="btn btn-outline-info mb-4">{{page_num}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}

  {% endfor %}
{% endblock content %}
